# root editorconfig for dev-framework
root = true

############################################
# Core text settings (applies to all files)
############################################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Default indentation: 2-space for docs/scripts; override for C#
indent_style = space
indent_size = 2
max_line_length = off

# Solution files: keep CRLF for Visual Studio friendliness
[*.sln]
end_of_line = crlf

# Markdown: keep trailing spaces (tables, line breaks)
[*.md]
trim_trailing_whitespace = false
#max_line_length = 120

# python scripts
[*.py]
indent_style = space
indent_size = 4

# Shell scripts (posix/bash)
[*.sh]
# --language-variant
shell_variant = posix
binary_next_line = true
# --case-indent
switch_case_indent = true
space_redirects = true
keep_padding = true
# --func-next-line
function_next_line = true
